@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Sriracha&display=swap');
*{
  font-family: 'Mukta', sans-serif;
font-family: 'Sriracha', cursive;
}
.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.rows {
  display: flex;
}

.cells {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  font-size: 24px;
  cursor: pointer;
}

.message {
  margin-top: 20px;
}
.tittle
{
  padding: 1em;
}

/* Add more styles as needed */
